.moblile-menu {
  display: inline-block;
  margin-left: auto;
  border: 0;
  background: none;

  &__icon {
    &--close {
      display: none;
    }
  }
}

.is-open .moblile-menu__icon--close {
  display: block;
}

.is-open .moblile-menu__icon--menu {
  display: none;
}

.moblile-menu:hover .moblile-menu__icon--menu,
.moblile-menu:focus
  .moblile-menu__icon--menu
  .moblile-menu:hover
  .moblile-menu__icon--close,
.moblile-menu:focus .moblile-menu__icon--close {
  fill: $colorAkcent;
}
