// .advant {
//   &__icon-container {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
//     width: 270px;
//     height: 120px;
//     background-color: $colorAdditional;
//   }

//   &__icon {
//     width: 70px;
//     height: 70px;
//   }

//   &__subtitle {
//     margin-top: 0;
//     margin-bottom: 10px;

//     font-size: 14px;
//     font-weight: bold;
//     line-height: 1.1em;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//   }

//   &__descript {
//     color: $colorDiscription;
//     line-height: 1.7em;
//   }
// }
