.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &-container {
    display: block;
    width: 100%;

    padding: 0 15px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      width: 1200px;
      align-items: baseline;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $colorSecond;

    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

.adress-container {
  margin-bottom: 60px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;

    text-align: left;
  }
}

.adress-container .footer {
  margin-bottom: 20px;
}

.adress {
  margin-top: 20px;
  padding: 0;
}

.adress__item {
  width: 100%;
  margin-bottom: 8px;
  color: $colorSecond;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.adress__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  font-style: normal;

  transition: color 250ms $transitionTiming;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: $colorSecond;
  }
}

.join {
  margin-bottom: 60px;

  text-align: center;
  // @media screen and (min-width: 480px) {

  // }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
    margin-bottom: 0;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    // width: 206px;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 0;
    text-align: left;
  }

  &__list {
    display: inline-flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $colorSecond;

  border-radius: 50%;

  transition: background-color 250ms $transitionTiming;

  &:hover,
  &:focus {
    background-color: $colorAkcent;
  }
}
