.footer-form {
  text-align: center;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 93px;
    text-align: left;
    margin-right: 0;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  width: 280px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: $colorFooter;
  color: $colorDiscription;

  @media screen and (min-width: 480px) {
    display: block;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 458px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-bottom: 0;
    display: inline-flex;
    width: 358px;
    text-align: left;
  }

  &:focus {
    outline: none;
  }
}

.submit-button {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
  position: relative;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;

  background-color: $colorAkcent;
  color: $colorSecond;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: $colorSecond;

  cursor: pointer;

  transition: background-color 250ms $transitionTiming;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
  }
}
