.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &-section {
    background-color: var(--bg-color);
  }

  &-section__nav,
  &-section {
    display: flex;
    align-items: center;
  }
}

.header-contact__item {
  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(2) {
      margin-left: 50px;
    }
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.header-contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;

  color: $colorDiscription;
  text-decoration: none;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.1em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transitionTiming;

  &:hover {
    color: $colorAkcent;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.header-contact__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 0;

  fill: $colorDiscription;

  transition: fill 250ms $transitionTiming;

  .header-contact__link:hover & {
    fill: $colorAkcent;
  }
}
