.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mobile-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  &__title {
    margin-bottom: 30px;

    color: $colorSecond;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-devise-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-mobile-img@2x.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-mobile-img.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-devise-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero/hero-mobile-img@2x.jpg");
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 959px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-tablet-img.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-devise-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero/hero-tablet-img@2x.jpg");
    }
  }
}

@media screen and (min-width: 960px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-desk-Img.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero/hero-desk-Img@2x.jpg");
    }
  }
}

.hero__button {
  display: inline-block;
  position: relative;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  border-radius: 4px;

  color: $colorSecond;
  background-color: $colorAkcent;

  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;

  overflow: hidden;

  cursor: pointer;

  transition: background-color 250ms $transitionTiming;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
