.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding-right: 40px;
  padding-left: 40px;
  background-color: $colorSecond;
}

.mobile-menu__icon {
  fill: black;
}

.mobile-list {
  margin-bottom: auto;
}

.mobile-list__link {
  padding: 0;
  color: $colorMain;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;

  &--current {
    color: $colorAkcent;
  }
}

.mobile-contact__list {
  margin-bottom: 64px;
}

.mobile-social {
  display: flex;
  margin-bottom: 48px;
  padding: -10px;
}

.mobile-social__item {
}

.mobile-social_link {
  color: $colorAkcent;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  &--after {
    &::after {
      content: "";
      border: 1px solid rgba(33, 33, 33, 0.2);

      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
