.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;

  padding-right: 15px;
  padding-left: 15px;
  background-color: $colorSecond;
  z-index: 999;

  overflow-y: scroll;

  @media screen and (min-width: 480px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu__icon {
  fill: black;
  &--close {
    margin-left: auto;
  }
}

.mobile-list {
  margin-bottom: 100px;
}

.mobile-list__link {
  padding: 0;
  color: $colorMain;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;

  &--current {
    color: $colorAkcent;
  }
}

.mobile-contact {
  margin-bottom: 64px;

  &__item {
    &:first-child {
      margin-bottom: 32px;
    }
  }
  &__link {
    color: $colorDiscription;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    &--big {
      font-size: 30px;
      color: $colorAkcent;
    }
  }
}

.mobile-social {
  display: flex;
  margin-bottom: 48px;
  padding: -10px;
}

.mobile-social__item {
}

.mobile-social_link {
  color: $colorAkcent;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  &--after {
    &::after {
      content: "";
      border: 1px solid rgba(33, 33, 33, 0.2);

      margin-right: 3px;
      margin-left: 3px;
    }
  }

  @media screen and (min-width: 480px) {
    font-size: 18px;
    &--after {
      &::after {
        content: "";
        border: 1px solid rgba(33, 33, 33, 0.2);

        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
