.mobile-menu {
  display: block;
  margin-left: auto;
  border: 0;
  background: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon {
  &--menu {
    .mobile-menu:hover &,
    .mobile-menu:focus & {
      fill: $colorAkcent;
    }
  }
}

.mobile-menu:hover .mobile-menu__icon--menu,
.mobile-menu:focus .mobile-menu__icon--menu,
.mobile-menu:hover .mobile-menu__icon--close,
.mobile-menu:focus .mobile-menu__icon--close {
  fill: $colorAkcent;
}
