.portfolio {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio__items {
  padding: 0;
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 354px;
    max-width: calc((100%-30px) / 2);
    &:not(:nth-child(2n + 2)) {
      margin-right: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-bottom: 0;
    max-width: calc((100%-60px) / 3);
    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 0;
  margin-bottom: 40px;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-list__item {
  margin-bottom: 15px;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.button {
  display: inline-block;
  color: $colorMain;
  background-color: $colorAdditional;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;

  cursor: pointer;

  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  transition: background-color 250ms $transitionTiming;

  &:hover,
  &:focus {
    color: $colorSecond;
    background-color: $colorAkcent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
