.product {
  display: block;
  padding: 0;
  text-decoration: none;
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__img-thumb {
    position: relative;
    overflow: hidden;
  }

  &__img {
    overflow: hidden;
    width: 100%;
  }
}

.product__descript--hover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  transform: translateY(101%);

  font-size: 18px;
  line-height: 1.5;
  color: $colorSecond;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms $transitionTiming;

  .product:hover & {
    transform: translateX(0);
  }
}

.product__descriopion {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.product__subtitle {
  margin-top: 0;
  margin-bottom: 4px;

  color: $colorMain;

  line-height: 2;
}

.product__descript {
  margin-top: 0;

  color: $colorDiscription;

  font-size: 16px;
  line-height: 1.8;
  line-height: 1.8em;
}
