.section-advant {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94x;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
