body {
  margin: 0;
  background-color: $colorSecond;

  color: $colorMain;

  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
