$colorMain: #212121;
$colorSecond: #ffffff;
$colorAkcent: #2196f3;
$colorDiscription: #757575;
$colorSocial: rgba(255, 255, 255, 0.6);
$colorAdditional: #f5f4fa;
$colorIcon: #afb1b8;
$colorFooter: #2f303a;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
